:root{
		--mainColor:#46344e;
		--secondaryColor:#382a3f;

		--borderColor:#1d1520;

		--mainText: #eaeaea;
		--secondaryText:#eaeaea;

		--themeDotColor:#fff;

		--previewBg:rgb(29, 21, 32, 0.8);
		
		--btnColor:#8534a3;

}